:root {
  --white: #eef0f6;
  --gray: #c9caca;
  --black: #0c0c0c;
  --blue: #0079c1;
  --blue-light: #87BFE0;
  --blue-dark: #00598e;
  --red: #964949;
  --red-dark: #a50e0e;
}

body {
  background-color: var(--white);
}

.main_page_container {
  display: flex;
  justify-content: space-between;
}

/*Header*/
.header-container {
  width: 10%;
  margin: 0 30px;
}

.header-container p {
  color: var(--white);
  font-weight: 400;
  font-size: 18px;
}

/*MENU*/
btn form-button {
  height: 50px;
  width: 100%;
  background-color: var(--blue);
  position: fixed;
  z-index: 2000;
  display: flex;
  align-items: center;
}

nav {
  height: 50px;
  width: 100%;
  background-color: var(--blue);
  position: fixed;
  z-index: 50;
  display: flex;
  align-items: center;
}

main {
  padding: 50px 0 ;
}

p {
  margin: 20px;
}

.main-menu-btn {
  width: 30px;
  height: 30px;
  margin-left: 20px;
  position: relative;
  cursor: pointer;
}

.main-menu-btn:before {
  content: '';
  position: absolute;
  top: 3px;
  width: 30px;
  background-color: var(--white);
  height: 2px;
}

.main-menu-btn span {
  position: absolute;
  top: 14px;
  width: 30px;
  background-color: var(--white);
  height: 2px;
}

.main-menu-btn:after {
  content: '';
  position: absolute;
  bottom: 3px;
  width: 30px;
  background-color: var(--white);
  height: 2px;
}

  /*Menu*/
.menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 50px;
  left: 0;
  transform: translateX(-130%);
  transition: all 0.3s;
}

.menu.active {
  transform: translateX(0);
  z-index: 1001;
}
.blur {
  width: 100%;
  height: 100vh;
  left: 30%;
  backdrop-filter: blur(2px);
  position: absolute;
}

.menu_content {
  width: 30%;
  height: 100%;
  background-color: var(--blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.2s;
}

.menu_header{
  padding: 10px;
  font-size: 2rem;
  color: var(--white);
  border-bottom: 1px solid var(--white);
  width: 100%;
  text-align: center;
}

ul li a {
  color: var(--white);
  text-decoration: none;
  font-size: 1.3rem;
}
ul li {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

ul {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-right: 35px;
}

/*Map City*/
.map_city {
  width: 100%;
  margin: 0 auto;
}

#base-container {
  width: 100% !important;
}

.esri-ui {
  opacity: 1 !important;
}

.button-map-container {

}

/*.button-map:active {*/
/*  background-color: var(--blue-dark);*/
/*}*/

/*Form*/

.container_form_little {
  width: 25%;
  margin: 20px auto;
}

.container_form_little h2 {
  color: var(--black);
  font-weight: 300;

  text-align: center;
}

.child_form input{
  margin-bottom: 15px;
}

.child_form p {
  margin: 5px;
  font-size: 14px;
  font-weight: 300;
}

/*Modal */
.modal-item {
  margin-bottom: 10px;
}

.form-modal {
  width: 95%;
  padding: 8px 5px;
  margin-top: 5px;
  border: 1px solid rgba(110,110,110,.3);
}

.form-modal-image {
  margin-top: 5px;
}

.modal-title-input {
  font-size: 14px;
  font-weight: 300;
}

#filter {
  margin-top: 5px;
}

/*Popup*/
.esri-popup__content img {
  width: 90% !important;
  height: auto !important;
}

.esri-view-height-less-than-medium .esri-popup__main-container {
  max-height: 250px !important;
  max-width: 250px !important;
}

.esri-feature__content-element {
  padding: 0 !important;
}

.esri-ui {
  z-index: 222 !important;
}

/*Profile*/

.problem-container {
  display: flex;
  align-items: baseline;
}

.problem-data-exit {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.problem-data-exit li{
border-bottom: 0px;
}

.problem-item {
  text-align: start;
}

.problem-title {
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  text-align: start;
}

.problem-data {
  display: flex;
  font-size: 15px;
  font-weight: 400;
  padding: 10px 0;
}
/*Btn*/

.btn {
  font-weight: 500;

  color: var(--white);
  background-color: var(--blue);

  border: none;
  outline: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 5px;
}

.exit-button {
  height: 40px;
  width: 100px;
  background-color: var(--red);
  font-size: 16px;
}

.exit-button:hover {
  background-color: var(--red-dark);
}

.button-map {
  position: absolute;
  z-index:100;
  padding: 15px 32px;
  font-size: 16px;
  border-radius: 5px;
  left: 18%;
  top: 13%;

  /*right: 8%;*/
  /*top:2px;*/
  /*background-color: var(--green);*/
}

.button-map:hover {
  background-color: var(--blue-dark);
}

.btn_login {
  width: 100%;
  font-size: 20px;
  padding: 10px;
  margin-top: 10px;
}

a {
  font-weight: 400;
  font-size: 16px;

  color: var(--black);
}

.btn_login:hover {
  color: var(--white);
  background-color: var(--blue-dark);
}

.esri-feature-media__item > img {
  width: 50px;
}

.form-button {
  width: 100%;
  font-size: 16px;
  padding: 10px;
  margin-top: 5px;
}

.add-point {
  padding: 15px !important;
}

.form-button:hover {
  background-color: var(--blue-dark);
}

.other-btn-container {
  display: flex;
  margin-top: 7px;

}

.other-btn-container .other-form-button {
  margin-right: 7px;
}

.other-form-button:disabled {
  background-color: #969696;
}


